$yellow-lab: rgb(247, 182, 23);
$white-lab: rgb(255, 255, 255);
$gray-lab: rgb(43, 43, 43);
$font-fam: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$coll: 8.2%;

*{	
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	font-family:$font-fam;
}
.padre{
		width: 100%;
		position: relative;
	}

.titulo{
	background-color:$yellow-lab;
	height: 100px;
	h1{
		color: $white-lab;
	}
}
.lista-uno{
	padding: 1%;
	li{
		background-color:$gray-lab;
		list-style:none;
		color: $white-lab;
		margin-bottom: 2%;
		
	}
	li:hover{
		background-color:$yellow-lab;
	}
}

.div-ejercicio{
	padding: 1%;
}
.aside{
	background-color:$gray-lab;
	color:$white-lab;
	text-align:center;
	display: inline-block;
}

.footer{
	background-color:$gray-lab;
	color:$white-lab;
	text-align:center;
}

@media (min-width : 1024px) {
	
	.lista-uno{
		width: $coll*3;
		display: inline-block;
		float: left;
		margin: 1px;
		
		
	}
	.div-ejercicio{
		width: $coll*6;
		display: inline-block;
		float: left;
		margin: 1px;

	}
	.aside{
		width: $coll*3;
		display: inline-block;
		margin: 1px;
	}
}

@media (min-width : 768px) and (max-width : 1023px) {
		.lista-uno{
		width: $coll*4;
		display: inline-block;
		float: left;
		margin: 1px;
	}
	.div-ejercicio{
		width: $coll*8;
		display: inline-block;
		margin: 1px;
	}
	.aside{
		width: $coll*12;
		display: inline-block;
		margin: 1px;
	}
}